@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;0,800;1,500;1,600;1,700;1,800&display=swap');
:root {
  --accent: #090d13;
  --pure-wite: #fff;
}

html{
box-sizing: border-box;
scroll-behavior: smooth;
}


*,
*:before,
*:after {
box-sizing: border-box;
}

body {
  font-family:  "Lato", sans-serif;
  margin: 0;
 color: var(--accent);
}
/* 
header{
  margin: 0;
  padding: 0 15px;
}

main{
  width: 1300px;
  min-height: 100px;
} */

/* aside{
  display: flex;
justify-content: center;
flex-direction: row;
flex-wrap: nowrap;
width: 50px;
min-height: 300px;
} */
/* 
.wrapper{
display: flex;
justify-content: space-between;
gap: 30px;
padding: 1em;
flex-wrap: wrap;
}

footer{
  min-height: 200px;
  grid-template-columns: auto;
}
 */


.bg {
  animation: slide 2s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #A64AC9, 50%,  #FCCD04 50%);
  bottom:0;
  left: -50%;
  opacity:.3;
  position:fixed;
  right: -50%;
  top:0;
  z-index:-1;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:2s;
}

.bg3 {
  animation-duration:2s;
}

.content {
  left: 50%;
  padding:10vmin;
  position:fixed;
  text-align:center;
  top:50%;
  transform:translate(-50%, -50%);
}

@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}


.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}


.section-title{
  text-transform: uppercase;
  text-align: center;
}

section{ 
  padding: 40px 0;
}
  
a{
  text-decoration: none;
  list-style-type: none;
}

header {
  position: relative;
  background-color: #efefef;
}

.header-nav {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #efefef;
}
.header-logo {
  width: 20%;
  line-height: 30px;
  font-size: 30px;
  font-weight: 900;
  letter-spacing: 3px;
}
.header-logo img {
  width: 100px;
  height: 60px;
  object-fit: contain;
}
.toggle {
  position: absolute;
  right: 10%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  display: none;
}
.header-menu {
  width: 78%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin-left: 10px;
  padding: 0;
  list-style: none;
}
.header-menu-link {
  font-size: 16px;
  line-height: 16px;
  padding: 15px;
  text-transform: uppercase;
  transition: background-color 0.4s;
}

.header-menu-link:hover {
  background-color: var(--accent-light);
}

.intro{
  padding: 60px 0;
  
}
.fammily{
display: flex;
justify-content: center;
align-items: center;
}

/* .family p{
  width: 500px;
  font-size:'Open Sans', sans-serif;
} */

.intro-left{
width: 30%;
}

.intro-img{
  width: 260px;
  height: 250px;
  border-radius: 30%;
  /* box-shadow: 0px 4px 18px rgba(1, 46, 179, 0.18); */
  object-fit: cover;
}

.intro-right h1,
.intro-right h3{
  margin: 0 0 10px;
  /* line-height: 20px; */
}

.intro-right{
width: 60%;
}

.intro-p{
  font-size: 25px;
}

/* десток версия
 .contacts ul{
display: grid;
 grid-template-columns: repeat(4, 1fr);
align-items: center;
justify-content: center;
list-style: none;
gap: 3px;
margin: 0 25px;
padding: 10px 15px;
font-size: 25px;
} */

.contacts ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.contacts{
text-align: left;
}


.img-location {
  image: url(https://cdns.iconmonstr.com/wp-content/assets/preview/2013/240/iconmonstr-location-28.png);
  width: 35px;
  height: 35px;
}

.img-phone{
image: url(https://cdns.iconmonstr.com/wp-content/assets/preview/2012/96/iconmonstr-smartphone-9.png); 
width: 35px;
height: 35px;
}

.img-email{
image: url(https://cdns.iconmonstr.com/wp-content/assets/preview/2013/96/iconmonstr-paper-plane-5.png);
width: 35px;
height: 35px;
}


.skills{
  padding: 0;
  color: var(--pure-white);
}

/* .skills ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  border-radius: 3px;
   text-align: center;
}

.skills li{
padding: 10px 15px;
border-radius: 3px;
font-size: 35px;
} */


.skills ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.skills li {
  padding: 10px 25px;
  background-color: var(--accent-light);
  border-radius: 4px;
}

.code{
justify-content: center;
align-items: center;
width: 100%;
height: 200 px;
margin: 0 15px;
}

.code-example pre {
  width: 70%;
  margin: 0 300px ;
  padding: 0;
  font-size: 1.2em;
  text-align: left;
  color: var(--pure-white);
}

.portfolio{
margin: 0px;
padding: 0;
}

.portfolio-title{
color: #19df19;
margin-bottom: 1;
}

.portfolio ul{
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.portfolio li {
border-radius: 3px;
background-color: rgb(155, 157, 229);
text-align: center;
overflow: hidden;
}

.portfolio-img{
  height: 450px;
  width: 450px;
 object-fit: scale-down;;
}


.portfolio ul a{
  display: inline-block;
  padding: 0;
  color: rgb(49, 19, 19);
  text-decoration: none;
  background-color: aliceblue;
  border-radius: 3px;
  transition: all .3;
}

.portfolio ul a:hover{
  background-color: rgb(224, 219, 219);
}


.table {
	width: 100%;
	margin-bottom: 20px;
	border: 1px solid #fdd9d9;
	border-collapse: collapse; 
}
.table th {
	font-weight: bold;
	padding: 5px;
	background: #efefef;
	border: 1px solid #dddddd;
}
.table td {
	border: 1px solid #dddddd;
	padding: 5px;}
.clospan{
	width: 100%;
	margin-bottom: 20px;
  text-align: center;
}

.languages ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  gap: 20px;
  border-radius: 3px;
  flex-direction: column;
  text-align: center;
}
.languages li{
  padding: 0;
border-radius: 3px;
}

 .education li{
  margin: 0;
  padding: 0;
  list-style: none;
  color: rgb(23, 24, 27);
 }

 .certificate ul{
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  justify-content: center;
  text-align: center;
  list-style: none;
  flex-direction: column;
}


.topNubex {
	position: fixed;
	right: 45px;
	bottom: 45px;
  background-color: yellow;
  border: 1px solid red;
   }

footer {
  justify-content: center;
  text-align: center;
  margin-bottom: 20px;
}
footer a {
  margin-left: 15px;
  color: #0000ee;
}

/* @media screen and (max-width: 768px) {
  .family{
    display: flex;
  }
  .intro-left{
    width: 50%;
    }
  
  .skills{
    display: flex;
    justify-content: space-between;
  }
  .code-example
    
  }
  .header{
    padding: 0 15px;
  }

  .header-container{
    position: relative;
  }
  .header ul{
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    top: 70px;
    background-color: #fff;

  }
  .header li{
    display: block;
    margin: 10px;
    width: 100%;
  }

  .toggle {
    display: block;
  }
  .toggle:hover + .header-menu {
    display: block;
  } 
  .header-menu {
    width: 55%;
  }
  .intro-left {
    width: 80%;
  }
  .intro-right {
    width: 80%;
  }
  .intro-inner {
    flex-direction: column;
  }
}

@media screen and (max-width: 640px) {
  .header-logo {
    margin-left: 10%;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1 2rem;
    text-align: left;
    background: var(--accent-light);
  }
  .header-nav {
    flex-direction: column;
    align-items: baseline;
  }
  section {
    padding: 30px 0;
  }
  .toggle {
    display: block;
  }
  .toggle:hover + .header-menu {
    display: block;
  }
  .code-example pre {
    width: 100%;
  }
  .languages li {
    margin: 3% 3% 3% 15%;
  }
  .education li {
    margin: 3% 3% 3% 15%;
  }
  .experience .table{
    margin: 3% 3% 3% 15%;
  }
  .certificate li{
    margin: 3% 3% 3% 15%;
  }
}
@media screen and (max-width: 320px) {
  body {
    position: absolute;
  }
  .languages li {
    margin: 3% 3% 3% 15%;
  }
  .education li {
    margin: 3% 3% 3% 15%;
  }
} */
@media screen and (max-width: 768px) {
  .header-menu {
    width: 55%;
  }
  .intro-left {
    width: 80%;
  }
  .intro-right {
    width: 80%;
  }
  .intro-inner {
    flex-direction: column;
  }
  .portfolio li{
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    width: 48%;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 640px) {
  .header-logo {
    margin-left: 10%;
  }
  .header-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    padding: 1 2rem;
    text-align: left;
    background: var(--accent-light);
  }
  .header-nav {
    flex-direction: column;
    align-items: baseline;
  }
  section {
    padding: 30px 0;
  }
  .toggle {
    display: block;
  }
  .toggle:hover + .header-menu {
    display: block;
  }
  .code-example pre {
    width: 100%;
  }
  .languages li {
    margin: 3% 3% 3% 15%;
  }
  .education li {
    margin: 3% 3% 3% 15%;
  }

  .portfolio li{
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 320px) {
  body {
    position: absolute;
  }
  .languages li {
    margin: 3% 3% 3% 15%;
  }
  .education li {
    margin: 3% 3% 3% 15%;
  }
  .portfolio li {
    grid-template-columns: repeat(2, 1fr);
  }
}